body {
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    background-color: #337ab7;
    color: #fff;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#imagemcentralizada {
    margin: auto;
    display: block;
    width: 800px;
    border: 2px solid #ddd;
    border-radius: 5 px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#titulo {
    font-size: 30px;
    text-align: center;
}

#subtitulo {
    text-align: center;
    padding-top: 80px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column {
    padding: 3px;
}

.imgmenor {
    max-width: 400px;
    max-height: 300px;
    border: 2px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#video {
    margin: auto;
    display: block;
}

@media (max-width: 868px) {
    .row {
        flex-direction: column;
        width: 100%;
    }

    #imagemcentralizada {
        width: 100%;
    }

    .imgmenor {
        width: 100%;
        max-height: auto;
        object-fit: contain;
    }

    #titulo {
        font-size: 20px;
    }

    #subtitulo {
        font-size: 15px;
    }

    #video {
        width: 100%;
    }

    #header {
        height: 60px;
    }
}

@media (max-width: 550px) {
    .row {
        flex-direction: column;
        width: 100%;
    }

    #imagemcentralizada {
        width: 100%;
    }

    .imgmenor {
        width: 100%;
        max-height: auto;
        object-fit: contain;
    }

    #titulo {
        font-size: 20px;
    }

    #subtitulo {
        font-size: 15px;
    }

    #video {
        width: 100%;
    }

    #header {
        height: 50px;
    }
}